.children {
    opacity: 0;
    transition: opacity 0.5s;
}

.children.is-expanded {
    opacity: 1;
}

.project-tile {
    background-color: #666666;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    max-height: 25px;
    transition: 
        background-color 0.5s,
        max-height 0.5s;
}

.project-tile:hover {
    background-color: #888888;
}

.project-tile.is-expanded {
    max-height: 113px;
}