:root {
    --backgroundColor: #111111;
    --panelColor: #777777;

    --panelTextColor: #FFFFFF;
}


/* --- welcome box styles --- */
#welcome-section {
    background: linear-gradient(#772211, var(--backgroundColor));
    color: #FFFFFF;
    text-shadow: #111111 2px 2px;
    text-align: right;
    padding: 50px;
    margin: 0px;
}

#welcome-section h1,#welcome-section h2 {
    margin: 0px;
}

#welcome-section h1 {
    font-size: 5vmin;
    padding-bottom: 0px;
}

#welcome-section h2 {
    font-size: 3vmin;
    padding-top: 5px;
}

/* --- background --- */
#background {
    background-color: var(--backgroundColor);
    margin: 0px;
    padding: 25px;
}

/* --- about section styles --- */
.panel {
    background-color: var(--panelColor);
    border-radius: 1vmin;
    padding: 1vmin;
    margin: 2vmin 0;
}

.panel h2 {
    color: var(--panelTextColor);
    font-size: 3vmin;
    margin: 0;
}

.panel p {
    color: var(--panelTextColor);
    font-size: 1.9vmin;
    text-align: left;
    margin: 8px 0 0 0;
    padding: 10px 25px;
}

/* --- project tile styles --- */
.project-tile {
    background-color: #555555;
    padding: 20px;
    margin: 20px;
    transition: 
        background-color 0.5s;
}

.project-tile:hover {
    background-color: #888888;
}

/* --- img tag styles --- */
.pixel-img {
    image-rendering: pixelated;
}